{
  "presets": [
    "@babel/env",
    "@babel/react",
    "@babel/preset-flow",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "flow-react-proptypes",
    "@babel/plugin-proposal-export-default-from",
    "@emotion/babel-plugin"
  ]
}
